{% extends 'aindex.html' %}
{% block content1 %}
<div class="tab-content">
  <div id="tab-1" class="tab-pane fade show p-0 active">
    <div class="row g-4">
      <div class="col-lg-12">
        <div class="row g-4">
          {% for i in viewdata %}
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
              <div class="fruite-img">
                <img
                  src="{{i.movieImage.url}}"
                  class="img-fluid w-100 rounded-top"
                  alt=""
                />
              </div>
              <div
                class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                style="top: 10px; left: 10px"
              >
                Genre: {{i.movieGenre}}
              </div>
              <div
                class="p-4 border border-secondary border-top-0 rounded-bottom"
              >
                <h4>{{i.movieName}}</h4>
                <p>{{i.movieDescription}}</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                  <a
                    href="{% url 'editdata' id=i.id %}"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa me-2 text-primary"></i>Edit</a
                  >
                  <a
                    href="{% url 'delete' id=i.id %}"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa me-2 text-primary"></i>Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div id="tab-3" class="tab-pane fade show p-0">
    <div class="row g-4">
      <div class="col-lg-12">
        <div class="row g-4">
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
              <div class="fruite-img">
                <img
                  src="/static/img/fruite-item-1.jpg"
                  class="img-fluid w-100 rounded-top"
                  alt=""
                />
              </div>
              <div
                class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                style="top: 10px; left: 10px"
              >
                Fruits
              </div>
              <div
                class="p-4 border border-secondary border-top-0 rounded-bottom"
              >
                <h4>Oranges</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                  eiusmod te incididunt
                </p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                  <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
                  <a
                    href="#"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                    cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
              <div class="fruite-img">
                <img
                  src="/static/img/fruite-item-6.jpg"
                  class="img-fluid w-100 rounded-top"
                  alt=""
                />
              </div>
              <div
                class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                style="top: 10px; left: 10px"
              >
                Fruits
              </div>
              <div
                class="p-4 border border-secondary border-top-0 rounded-bottom"
              >
                <h4>Apple</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                  eiusmod te incididunt
                </p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                  <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
                  <a
                    href="#"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                    cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab-5" class="tab-pane fade show p-0">
    <div class="row g-4">
      <div class="col-lg-12">
        <div class="row g-4">
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
              <div class="fruite-img">
                <img
                  src="/static/img/fruite-item-3.jpg"
                  class="img-fluid w-100 rounded-top"
                  alt=""
                />
              </div>
              <div
                class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                style="top: 10px; left: 10px"
              >
                Fruits
              </div>
              <div
                class="p-4 border border-secondary border-top-0 rounded-bottom"
              >
                <h4>Banana</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                  eiusmod te incididunt
                </p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                  <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
                  <a
                    href="#"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                    cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
              <div class="fruite-img">
                <img
                  src="/static/img/fruite-item-2.jpg"
                  class="img-fluid w-100 rounded-top"
                  alt=""
                />
              </div>
              <div
                class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                style="top: 10px; left: 10px"
              >
                Fruits
              </div>
              <div
                class="p-4 border border-secondary border-top-0 rounded-bottom"
              >
                <h4>Raspberries</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                  eiusmod te incididunt
                </p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                  <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
                  <a
                    href="#"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                    cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
              <div class="fruite-img">
                <img
                  src="/static/img/fruite-item-1.jpg"
                  class="img-fluid w-100 rounded-top"
                  alt=""
                />
              </div>
              <div
                class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                style="top: 10px; left: 10px"
              >
                Fruits
              </div>
              <div
                class="p-4 border border-secondary border-top-0 rounded-bottom"
              >
                <h4>Oranges</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                  eiusmod te incididunt
                </p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                  <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
                  <a
                    href="#"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                    cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
